
    body{
        margin: 0;
        padding: 0;
    } 
        header{
            background-color: black;
            height: 17vh;
            align-items: center;
            display: flex;
            gap: 10px;
            padding: 10px 20px;  
        }
        header h4{
            color: #fff;
            font-size: 25px;
        }
        .button-group{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            padding: 10px 20px;
            gap: 10px;
        }
        .a{
            background-color:rgba(255, 255, 255, 0.176) ;
            color: rgba(231, 220, 220, 0.954);
            margin: 0;
            border: none;
            height: 25px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 4px;
            border: solid white;
            width: 130px;
            height: 30px;
        }
        .b{
            background-color: #4C5FD5;
            border-radius: 4px;
            padding: 5px 10px;
            height: 30px;
            border: none;
            cursor: pointer;
            margin: 0;
        }
        section{
            background-color: #dadbf1;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }
        section h1{
            font-size: 50px;
            margin: 0 0 20px 0;
        }
        .c{
             height: 35px;
             width: 300px;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             margin: 0 0 20px 0;
             border:solid rgba(0, 0, 0, 0.532);
        }
        .see button{
           background-color: white;
           border: 2px solid white;
           overflow: hidden;
           display: flex;
           padding: 0 15px;
           font-size: 15px;
           cursor: pointer;
        }
    .container {
             display: flex;
             margin-left: 170px;
             gap: 50px;
        }   
        .box {
             flex: 1;
        }
        .Number{
            display: flex;
            margin-left: 170px;
            gap: 50px;
        }
        .real{
                flex: 1;
        }
        .win{
            display: flex;
            margin-left: 170px;
            gap: 50px;
        }
        .odd{
            flex: 1;
            height: 160px;
        }
        footer{
            background-color: black;
            color: #dadbf1;
            justify-content: space-between;
            padding: 30px 50px;
        }
        .look{
             display: flex;
             justify-content: space-between; 
              flex-wrap: wrap;  
        }
        .book{
            flex: 1;
            min-width: 200px;                /* చిన్న screenలో సరిపడేలా */
            margin: 10px 20px;
        }
        .book h3{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }
       
   